<ion-header>
  
  <ion-toolbar>
    <ion-title >Employee Database</ion-title>
    
    
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
    showCancelButton
    searchIcon="search"
    animated
    cancelButtonIcon
    
    (search)="searchRequest($event)"
    placeholder="Search Employee"
    ></ion-searchbar>
   
  </ion-toolbar>
</ion-header>
  <!-- (click)="searchEmployee($event)" -->
  <ion-content class="ion-margin">
    
    <ion-grid class="ion-margin">
      <ion-row class = "ion-justify-content-end">
        <ion-col size="3">
        
            <ion-button (click)="create()" >Add Employee</ion-button>  <ion-icon slot="icon-only" name="trash"></ion-icon>
          
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col size="2"   class="ion-align-self-sart"><h2>Employee Number</h2></ion-col>
        <ion-col size="2"   class="ion-align-self-sart"><h2>Name</h2></ion-col>
        <ion-col size="2"   class="ion-align-self-sart"><h2>Surname</h2></ion-col>
        <ion-col size="2"   class="ion-align-self-sart"><h2></h2></ion-col>
        <ion-col size="2"   class="ion-align-self-sart"><h2></h2></ion-col>
        <ion-col size="2"   class="ion-align-self-sart"><h2></h2></ion-col>
      </ion-row>


      <ion-row *ngFor="let employee of Employees">
        <ion-col size="2" >{{employee.EmployeeNumber}}</ion-col>
        <ion-col size="2" >{{employee.name}}</ion-col>
        <ion-col size="2" >{{employee.surname}}</ion-col>
        <ion-col><ion-button (click)="ViewDetails(employee.EmployeeNumber)" >Employee Details</ion-button></ion-col>
        <ion-col> <ion-button (click)="update(employee.EmployeeNumber,employee)" fill="clear">
          <ion-icon slot="icon-only" name="Create"></ion-icon> </ion-button></ion-col>
        <ion-col><ion-button (click)="DeleteModal(employee)" fill="clear">  <ion-icon slot="icon-only" name="trash"></ion-icon></ion-button></ion-col>

      </ion-row>
    </ion-grid>
</ion-content>
