<ion-header>
  <ion-toolbar>
    <ion-title>Create Employee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup] = "FormInput" (ngSubmit)="confirmAlert()">
  <ion-card>
    <ion-grid >

      <ion-row>
             <ion-col size="8">
              <p>Access Role:</p>
                 </ion-col>
    
                 <ion-col size="4">
                  <select  placeholder="Please select Access Role" class="form-control" formControlName="AccessRole" [(ngModel)]="AccessRoleValue" ng-init="value=null" >
                    <option>Select Access Role</option>
                    <option option *ngFor="let role of this.AccessRole">{{role.roleDescription}}</option>
                  </select>
                 </ion-col>
                 
                 
                 <ion-col size="8">
                  <p>Manager:</p>
                     </ion-col>
                 <ion-col size="4">
                  <select  placeholder="Please select Line Manager" class="form-control" formControlName="Manager" [(ngModel)]="ManagerValue"  ng-init="value=null" >
                     <option>Select Reporting Manager</option>
                     <option option *ngFor="let manager of this.Manager">{{manager.name}}</option>
                   </select>
                     </ion-col> 



             

          <ion-col size="8">
       <p>Name:</p>
          </ion-col>
          <ion-col size="4">
       <ion-input placeholder="Employee Name" class="form-control" formControlName="Name"></ion-input>
          </ion-col> 
          <ion-col size="8">
            <p>Surname:</p>
               </ion-col>
               <ion-col size="4">
            <ion-input placeholder="Surname" class="form-control" formControlName="Surname"></ion-input>
               </ion-col> 
               
                   <ion-col size="8">
                    <p>Salary:</p>
                       </ion-col>
                       <ion-col size="4">
                    <ion-input placeholder="R0.00" class="form-control" type="amount" min="1" oninput="this.value = Math.abs(this.value)" class="textbox" formControlName="Salary"></ion-input>
                       </ion-col> 

     
                           <ion-col size="8">
                            <p>Date Of Birth:</p>
                               </ion-col>
                               <ion-col size="4">
                                <ion-datetime  #date  locale="en-GB-u-hc-h12" class="form-control" formControlName = "Date"></ion-datetime>
                               </ion-col> 
            
                         
                     
                 
             
              
  
      </ion-row>

      <ion-row> 
        <ion-col size="2" offset="2">
          <ion-button type = "submit"> Confirm </ion-button> 
        </ion-col>
        <ion-col size="2" offset="3">
    <ion-button (click)="dismiss()" > Cancel </ion-button>
        </ion-col> 
    </ion-row>
    </ion-grid>
  </ion-card> 
</form>
</ion-content>
